<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{ style('css/bootstrap.min.css') }}
    {{ style('css/style.css') }}
</head>
<body>
    
    {{ script('js/jquery.min.js') }}
    {{ script('js/popper.min.js') }}
    {{ script('js/bootstrap.min.js') }}
</body>
</html>